.place__row {
  display: flex;
  flex-direction: row;
  gap: 40px;
  justify-items: flex-start;
  margin-bottom: 48px;
}

.place__row:nth-child(2n) {
  margin: 0;
}

@media screen and (max-width: 1279px) {
  .place__row {
    gap: 32px;
  }
}

@media screen and (max-width: 1023px) {
  .place__row {
    gap: 28px;
  }
}

@media screen and (max-width: 767px) {
  .place__row {
    flex-direction: column;
  
    gap: 32px;
  }
}