.place__text {
  width: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

@media screen and (max-width: 1279px) {
  .place__text {
    width: calc(100% - 16px);
  }
}

@media screen and (max-width: 1023px) {
  .place__text {
    width: calc(100% - 14px);
  }
}

@media screen and (max-width: 767px) {
  .place__text {
    max-width: 288;
    margin: 0 auto;
  }
}