.place__paragraph {
  margin: 0;
  margin-bottom: 26px;
  font-size: 18px;
  font-weight: normal;
  line-height: 1.63em;
}

.place__paragraph:nth-child(2n) {
  margin: 0;
}

@media screen and (max-width: 767px) {
  .place__paragraph {
    font-size: 16;
    max-width: 288px;
  }
}