.cover__item {
  color: #FFFFFF;
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
}

/*.cover__item:before {
  content: '';
  background: #2A2C2F;
  opacity: 0.3;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -1;
  transition: .4s;
}*/

/*.cover__item:hover:before {
  opacity: 0.8;
}

@media screen and (max-width: 1279px){
  .cover__item {
    max-width: 1024px;
    max-height: 640px;
  }
}

@media screen and (max-width: 1023px){
  .cover__item {
    max-width: 768px;
    max-height: 440px;
  }
}

@media screen and (max-width: 767px){
  .cover__item {
    max-width: 320px;
    max-height: 200px;
  }
}
*/